RAILS_MASTER_KEY=<val>

POOL_NAME=<val>
APP_HOST=<val>
TLS_DOMAIN=<val>

SANDBOX_EMAIL_ADDRESS=<val>
SMTP_USERNAME=<val>
SMTP_PASSWORD=<val>
SMTP_HOST=<val>
DEFAULT_FROM_EMAIL=<val>

# Password for dev scenario users (required for dev:scenarios rake task)
DEV_PASSWORD=password
