SECRET_KEY_BASE="<your secret key base>"
POOL_NAME="My Pool"
APP_HOST="brackets.example.com"

# Settings for email sending (invites, forgotten passwords, etc)
# SMTP_USERNAME=
# SMTP_PASSWORD=
# SMTP_HOST=
# DEFAULT_FROM_EMAIL=

# Litestream database backups (S3-compatible object storage)
# LITESTREAM_REPLICA_BUCKET=
# LITESTREAM_REPLICA_ENDPOINT=
# LITESTREAM_REPLICA_REGION=
# LITESTREAM_ACCESS_KEY_ID=
# LITESTREAM_SECRET_ACCESS_KEY=
# SANDBOX_EMAIL_ADDRESS=
