SECRET_KEY_BASE="<your secret key base>"
POOL_NAME="My Pool"
APP_HOST="brackets.example.com"

# Settings for email sending (invites, forgotten passwords, etc)
# SMTP_USERNAME=
# SMTP_PASSWORD=
# SMTP_HOST=
# DEFAULT_FROM_EMAIL=

# Password for dev scenario users (required for dev:scenarios rake task)
# DEV_PASSWORD=password
# SANDBOX_EMAIL_ADDRESS=
