<% content_for :body_content do %>
  <body class="min-h-screen bg-gradient-to-br from-primary/5 to-secondary/5" data-controller="pull-to-refresh">
  <main class="container mx-auto min-h-screen flex items-center justify-center p-4">
    <%= render "layouts/flash" %>
    <%= yield %>
  </main>
  </body>
<% end %>

<%= render template: "layouts/base" %>
